@tailwind base;
@tailwind components;
@tailwind utilities;
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Public Sans', sans-serif;
  scroll-behavior: smooth;
  scrollbar-width: none;
  transition: all .8s ease-in-out;
}
main *{
  /*border: 1px solid deeppink;*/
}
